<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8" />
    <title th:text="'Spring Boot: MVC + Thymeleaf + Data JPA - ' + ${titulo}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
</head>
<body>
    <header th:fragment="header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Spring Boot</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#about" th:href="@{/listar}">Cliente</a> </li>
                </ul>
                <ul class="navbar-nav navbar-right">
                    <li sec:authorize="!isAuthenticated()">
                        <a class="btn btn-outline-primary" th:href="@{/login}">Sign In</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="dropdown show">
                        <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span sec:authentication="name"></span>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <form id="logoutForm" th:action="@{/logout}" method="post">
                                <button class="dropdown-item" onclick="document.getElementById('logoutForm').onsubmit;"
                                        type="submit">Logout
                                </button>
                                <input type="hidden" th:name="${_csrf.parameterName}"
                                       th:value="${_csrf.token}"/>
                            </form>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right mx-4">
                    <li class="nav-item mx-1">
                        <a class="btn btn-outline-success" th:href="@{/locale(lang= es_ES)}">ES</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="btn btn-outline-success" th:href="@{/locale(lang= en_US)}">EN</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="btn btn-outline-success" th:href="@{/locale(lang= de_DE)}">DE</a>
                    </li>

                    <li class="nav-item dropdown show">
                        <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownLenguaje"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span th:text="#{text.locale.language}"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" th:href="@{/locale(lang= es_ES)}"
                               th:text="#{text.locale.es}">ES
                            </a>
                            <a class="dropdown-item" th:href="@{/locale(lang= en_US)}"
                               th:text="#{text.locale.en}">EN
                            </a>
                            <a class="dropdown-item" th:href="@{/locale(lang= de_DE)}"
                               th:text="#{text.locale.de}">DE
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
        <div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
        <div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
        <div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
    </header>

<div class="container"></div>

    <footer class="container" th:fragment="footer">
        <img th:src="@{/images/logoSpring.png}" alt="Spring Logo" style="width:50px"/>
        <p sec:authorize="isAuthenticated()">
            Usuario logeado:
            <span sec:authentication="name"></span>
            | Roles:
            <span sec:authentication="principal.authorities"></span>
        </p>
        <p>
            Powered by <a href="https://projects.spring.io/spring-boot/">Spring Boot</a> & <a href="http://www.thymeleaf.org">Thymeleaf</a>
        </p>
        <p>
            Este proyecto fue desarrollado en IDE IntelliJ IDEA + Spring plugins(STS Spring Tools). <br /> &copy; Company 2018
            Inc. Todos los derechos reservados. Términos de uso y privacidad <br />
        </p>

        <!-- Integrity is not necesary -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
        <script th:src="@{/js/jquery-ui.min.js}"></script>

    </footer>
</body>

</html>