<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>

<div class="container py-4">
    <div class="card bg-light">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">
            <h4 class="card-title">
                <a class="btn btn-light btn-xs" th:href="@{'/ver/' + ${factura.cliente.id}}"
                   th:text="'&laquo; volver'"></a>
            </h4>

            <form th:action="@{/factura/form/}" th:object="${factura}" method="post">

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" th:text="'Cliente'"></label>
                    <div class="col-sm-6">
                        <input th:value="${factura.cliente.nombre} + ' ' + ${factura.cliente.apellido}"
                               class="form-control" disabled='disabled'/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" th:text="'Descripción'"></label>
                    <div class="col-sm-6">
                        <input type="text" th:field="*{descripcion}" class="form-control"
                               th:errorclass="'form-control is-invalid'"/>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('descripcion')}"
                             th:errors="*{descripcion}"></div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" th:text="'Observaciones'"></label>
                    <div class="col-sm-6">
                        <textarea th:field="*{observacion}" class="form-control"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" th:text="'Buscar producto'"></label>
                    <div class="col-sm-6">
                        <input type="text" name="buscar_producto" id="buscar_producto" class="form-control"/>
                    </div>
                </div>

                <table th:replace="factura/plantilla-items :: itemsFactura"></table>

                <table id="cargarItemProductos" class="table table-sm table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th>Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>

                </table>

                <h5>Total <span class="badge badge-secondary" id="gran_total">0</span></h5>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="submit" th:value="${titulo}" class="btn btn-secondary"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
<script th:replace="factura/js/autocomplete-productos :: javascript"></script>
</body>
</html>