<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org">
<head th:replace="layout/layout :: head"></head>

<body>

<header th:replace="layout/layout :: header"></header>

<div class="container py-4">
    <div class="card bg-danger text-white">
        <div class="card-header">Error: Acceso denegado</div>
        <div class="card-body">
            <h5 class="card-title">
                Lo sentimos <span th:text="${#authentication.name}"></span>, no tienes permiso para acceder
                a este recurso.
            </h5>
            <a th:href="@{/listar}" class="btn btn-outline-light" role="button">Volver al inicio</a>
        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>