<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org">
<head th:replace="layout/layout :: head"></head>

<body>

<header th:replace="layout/layout :: header"></header>

<div class="container py-4">
    <div class="card bg-secondary text-white">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">

            <form th:action="@{/form}" th:object="${cliente}" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" th:field="*{nombre}"
                               th:errorclass="'form-control alert-danger'"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"
                               th:errors="*{nombre}"></small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-form-label">Apellido</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" th:field="*{apellido}"
                               th:errorclass="'form-control alert-danger'"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}"
                               th:errors="*{apellido}"></small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" th:field="*{email}"
                               th:errorclass="'form-control alert-danger'"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}"
                               th:errors="*{email}"></small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-form-label">Foto</label>
                    <div class="col-sm-6">
                        <input type="file" name="file" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <input class="btn btn-primary" type="submit" value="Crear cliente"/>
                    </div>
                </div>

                <input type="hidden" th:field="*{id}"/>

            </form>
        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>