<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>

<div class="container py-4">
    <div class="card bg-light">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">
            <h4 class="card-title">
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/form}"
                   class="btn btn-success btn-xs">Crear cliente</a>

                <a th:href="@{'/listar'(page=${page.paginaActual-1}, format=csv)}"
                   class="btn btn-success btn-xs float-right">CSV</a>
                <a th:href="@{'/listar'(page=${page.paginaActual-1}, format=xml)}"
                   class="btn btn-outline-success btn-xs float-right">XML</a>
                <a th:href="@{'/listar'(page=${page.paginaActual-1}, format=json)}"
                   class="btn btn-outline-warning btn-xs float-right">JSON</a>
            </h4>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th sec:authorize="hasRole('ROLE_USER')">Id</th>
                    <th th:text="#{text.cliente.nombre}">Nombre</th>
                    <th th:text="#{text.cliente.apellido}">Apellido</th>
                    <th th:text="#{text.cliente.email}">Email</th>
                    <th th:text="#{text.cliente.createAt}">Fecha</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Crear factura</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cliente: ${clientes}">
                    <td sec:authorize="hasRole('ROLE_USER')"><a class="btn btn-primary btn-xs"
                                                                th:href="@{/ver/} + ${cliente.id}"
                                                                th:text="${cliente.id}"></a></td>
                    <td th:text="${cliente.nombre}"></td>
                    <td th:text="${cliente.apellido}"></td>
                    <td th:text="${cliente.email}"></td>
                    <td th:text="${cliente.createAt}"></td>
                    <td><a class="btn btn-success btn-xs" sec:authorize="hasRole('ROLE_ADMIN')"
                           th:href="@{'/factura/form/' + ${cliente.id}}" th:text="'Crear factura'"></a></td>
                    <td><a class="btn btn-primary btn-xs" sec:authorize="hasRole('ROLE_ADMIN')"
                           th:href="@{/form/} + ${cliente.id}">Editar</a></td>
                    <td><a class="btn btn-danger btn-xs" sec:authorize="hasRole('ROLE_ADMIN')"
                           th:href="@{/eliminar/} + ${cliente.id}"
                           onclick="return confirm('Are you sure you want to delete?');">Eliminar</a></td>
                </tr>
                </tbody>
            </table>
            <nav th:replace="layout/paginator-nav :: paginator"></nav>
        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>