<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>
<div class="container py-4">

    <div class="card bg-light">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">
            <h4 class="card-title"><a class="btn btn-success btn-xs" sec:authorize="hasRole('ROLE_ADMIN')"
                                      th:href="@{'/factura/form/' + ${cliente.get().getId()}}"
                                      th:text="'Crear factura'"></a></h4>

            <img th:if="${#strings.length(cliente.get().getFoto()) > 0}" class="img-thumbnail rounded float-left"
                 style="max-width: 25%;" th:src="@{/uploads/} + ${cliente.get().getFoto()}"/>
            <ul class="list-group">
                <li class="list-group-item" th:text="${cliente.get().getNombre()}"></li>
                <li class="list-group-item" th:text="${cliente.get().getApellido()}"></li>
                <li class="list-group-item" th:text="${cliente.get().getEmail()}"></li>
                <li class="list-group-item" th:text="${cliente.get().getCreateAt()}"></li>
            </ul>

            <div th:if="${#lists.isEmpty(cliente.get().getFacturas())}" class="alert alert-info my-4"
                 th:text="'No hay facturas asignadas para el cliente ' + ${cliente.get().getNombre()} + ' '
                 + ${cliente.get().getApellido()}"></div>

            <table th:if="${not #lists.isEmpty(cliente.get().getFacturas())}"
                   class="table table-bordered table-striped my-4">
                <thead class="thead-inverse">
                <tr>
                    <th>Folio</th>
                    <th>Descripcion</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Ver detalle</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="factura : ${cliente.get().getFacturas()}">
                    <td th:text="${factura.id}"></td>
                    <td th:text="${factura.descripcion}"></td>
                    <td th:text="${factura.createAt}"></td>
                    <td th:text="${factura.total}"></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary btn-xs"
                                                                 th:href="@{'/factura/ver/' + ${factura.id}}"
                                                                 th:text="'detalle'"></a></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger btn-xs"
                                                                 th:href="@{'/factura/eliminar/' + ${factura.id}}"
                                                                 th:text="'eliminar'"
                                                                 onclick="return confirm('¿Está seguro de que desea elininar la factura');"></a></td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>

</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>